@charset "utf-8";

/* CSS Document */


/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap'); */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

 ::-moz-selection {
    background: #2e6c74;
    color: #fff;
}

 ::selection {
    background: #2e6c74;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

body {
    background: #fff;
    font-family: 'Roboto';
    line-height: 28px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/* unvisited link */

a:link {
    text-decoration: none;
    outline: none;
}


/* visited link */

a:visited {
    text-decoration: none;
    outline: none;
}


/* mouse over link */

a:hover {
    text-decoration: none;
    outline: none;
}


/* selected link */

a:active {
    text-decoration: none;
    outline: none;
}

p {
    font-family: 'Roboto';
    line-height: 28px;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

#main-container {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}


/* *********************************************************header-css-start*************************************************** */

.header {
    background: #fff;
    width: 100%;
    position: relative;
    height: auto;
    z-index: 999999;
}

.header .topbar {
    background-color: #2e6c74;
    padding-top: 2px;
    padding-bottom: 2px;
}

.header .topbar .top_content p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.header .topbar .top_content a {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.header .topbar .top_social ul {
    float: right;
}

.header .topbar .top_social ul li {
    display: inline-block;
    margin-left: 15px;
}

.header .topbar .top_social ul li a {
    color: #fff;
}

.header .topbar .top_social ul li a .svg-inline--fa {
    height: 14px;
}

.header .menubar {
    background-color: #fff;
    height: auto;
}

.header .menubar .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
}

.header .menubar .navbar .navbar-brand {
    padding: 0;
    color: #fff;
}

.header .menubar .main_menu_custom .navbar-nav li {
    display: inline-block;
    margin-left: 40px;
}

.header .menubar .main_menu_custom .navbar-nav li a {
    font-size: 16px;
    color: #2e6c74;
    font-weight: 500;
    position: relative;
    padding: 0 !important;
}

.header .menubar .main_menu_custom .navbar-nav li a:hover {
    color: #7d7d7d;
}

.header .menubar .main_menu_custom .navbar-nav li.active a {
    color: #7d7d7d;
}

.fixed {
    position: fixed;
    box-shadow: 0px 0px 10px 0px #2e6c749e;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.header .menubar.fixed .navbar .navbar-brand img {
    max-width: 55%;
}

.header .menubar.fixed .navbar .buttonmenu .sidebarIconToggle {
    top: 28px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
    }
}


/* ***********************************Mobile_menu_css_IN_HEADER**************************** */

.header .menubar .navbar .buttonmenu {
    display: none;
}

.header .menubar .navbar .buttonmenu input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

.header .menubar .navbar .buttonmenu input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.header .menubar .navbar .buttonmenu .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 50px;
    right: 15px;
    height: 22px;
    width: 28px;
}

.header .menubar .navbar .buttonmenu .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #2e6c74;
}

.header .menubar .navbar .buttonmenu .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.header .menubar .navbar .buttonmenu .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.header .menubar .navbar .buttonmenu .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.header .menubar .navbar .buttonmenu input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

.header .menubar .navbar .buttonmenu input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

.header .menubar .navbar .buttonmenu input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


/* ***********************************header-css-end**************************** */


/* ***********************************footer_css_start**************************** */

.footer {
    position: relative;
    background-color: #202c45;
    color: #fff;
    margin-top: 80px;
    padding-top: 35px;
    padding-bottom: 10px;
    height: auto;
}

.footer .footer_content .logo_menu {
    border-bottom: 1px solid #fff;
}

.footer .footer_content .logo_menu span {
    display: inline-block;
    margin-right: 24px;
}

.footer .footer_content .logo_menu ul {
    display: inline-block;
}

.footer .footer_content .logo_menu ul li {
    display: inline-block;
    margin-right: 24px;
}

.footer .footer_content .logo_menu ul li a {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.footer .footer_content .footer_copyright {
    padding-top: 8px;
}

.footer .footer_content .footer_copyright span {
    display: inline-block;
}

.footer .footer_content .footer_copyright .copyright {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    float: left;
}

.footer .footer_content .footer_copyright .like_ecom {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    float: right;
}

.footer .footer_content .footer_copyright .like_ecom a {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}


/* ***********************************footer_css_END**************************** */

.latest-blog-area .area-heading {
    margin-bottom: 70px
}

.blog_area a {
    color: "Playfair Display", serif !important;
    text-decoration: none;
    transition: .4s
}

.single-blog {
    overflow: hidden;
    margin-bottom: 30px
}

.single-blog:hover {
    box-shadow: 0px 10px 20px 0px rgba(42, 34, 123, 0.1)
}

.single-blog .thumb {
    overflow: hidden;
    position: relative
}

.single-blog .thumb:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-blog h4 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 34px;
    margin-bottom: 25px
}

.single-blog a {
    font-size: 20px;
    font-weight: 600
}

.single-blog .date {
    color: #666666;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    font-weight: 300
}

.single-blog .tag {
    text-align: left;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 300;
    margin-right: 22px;
    position: relative
}

.single-blog .tag:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background: #acacac;
    right: -12px;
    top: 7px
}

@media (max-width: 1199px) {
    .single-blog .tag {
        margin-right: 8px
    }
    .single-blog .tag:after {
        display: none
    }
}

.single-blog .likes {
    margin-right: 16px
}

@media (max-width: 800px) {
    .single-blog {
        margin-bottom: 30px
    }
}

.single-blog .single-blog-content {
    padding: 30px
}

.single-blog .single-blog-content .meta-bottom p {
    font-size: 13px;
    font-weight: 300
}

.single-blog .single-blog-content .meta-bottom i {
    color: #fdcb9e;
    font-size: 13px;
    margin-right: 7px
}

@media (max-width: 1199px) {
    .single-blog .single-blog-content {
        padding: 15px
    }
}

.single-blog:hover .thumb:after {
    opacity: .7;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media (max-width: 1199px) {
    .single-blog h4 {
        transition: all 300ms linear 0s;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 14px;
        margin-bottom: 12px
    }
    .single-blog h4 a {
        font-size: 18px
    }
}

.full_image.single-blog {
    position: relative
}

.full_image.single-blog .single-blog-content {
    position: absolute;
    left: 35px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media (min-width: 992px) {
    .full_image.single-blog .single-blog-content {
        bottom: 100px
    }
}

.full_image.single-blog h4 {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    border-bottom: none;
    padding-bottom: 5px
}

.full_image.single-blog a {
    font-size: 20px;
    font-weight: 600
}

.full_image.single-blog .date {
    color: #fff
}

.full_image.single-blog:hover .single-blog-content {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.l_blog_item .l_blog_text .date {
    margin-top: 24px;
    margin-bottom: 15px
}

.l_blog_item .l_blog_text .date a {
    font-size: 12px
}

.l_blog_item .l_blog_text h4 {
    font-size: 18px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0px;
    padding-bottom: 20px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.l_blog_item .l_blog_text p {
    margin-bottom: 0px;
    padding-top: 20px
}

.blog_item {
    margin-bottom: 50px
}

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3)
}

@media (min-width: 768px) {
    .blog_details {
        padding: 60px 30px 35px 35px
    }
}

.blog_details p {
    margin-bottom: 30px
}

.blog_details a {
    color: #000
}

.blog_details a:hover {
    color: #2e6c74
}

.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
}

.com_sub {
    border: none;
    background: #2e6c74;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.com_sub:hover {
    background: #009c8c;
}

@media (min-width: 768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px
    }
}

.blog-info-link li {
    float: left;
    font-size: 14px
}

.blog-info-link li a {
    color: #999999
}

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}

.blog-info-link li:last-child::after {
    display: none
}

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}

.blog_item_img {
    position: relative
}

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #2e6c74 !important;
    padding: 8px 15px;
    border-radius: 5px
}

.blog_item_img .blog_item_date:hover {
    background-color: #2e6c74 !important;
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px
    }
}

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px
    }
}

.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px
}

.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff
}

.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px
}

.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0px
}

.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0
}

.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999
}

.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .search_widget .input-group button {
    background: #ff2828;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
    cursor: pointer
}

.blog_right_sidebar .search_widget .input-group button i {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999
}

.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0
}

.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}

.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #ff2828;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px
}

.blog-pagination {
    margin-top: 80px
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px
}

.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px
}

.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888
}

.blog-pagination .page-item:last-child .page-link {
    margin-right: 0
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0
}

.single-post-area .social-links {
    padding-top: 10px
}

.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px
}

.single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear
}

.single-post-area .blog_details {
    padding-top: 26px
}

.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, 0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    .single-post-area .quote-wrapper {
        padding: 30px
    }
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid
}

@media (min-width: 768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px
    }
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8)
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff
}

.single-post-area .navigation-top p {
    margin-bottom: 0
}

.single-post-area .navigation-top .like-info {
    font-size: 14px
}

.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .comment-count {
    font-size: 14px
}

.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px
}

.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0
}

.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999999
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px
}

@media (max-width: 600px) {
    .single-post-area .blog-author {
        padding: 20px 8px
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px
}

@media (max-width: 600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px
    }
}

.single-post-area .blog-author a {
    display: inline-block
}

.single-post-area .blog-author a:hover {
    color: #ff2828
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px
}

.single-post-area .blog-author h4 {
    font-size: 16px
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px
}

.single-post-area .navigation-area p {
    margin-bottom: 0px
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

@media (max-width: 991px) {
    .single-post-area .sidebar-widgets {
        padding-bottom: 0px
    }
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px
}

@media (max-width: 414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    margin-bottom: 35px;
    font-size: 18px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0px
}

.comments-area .comment-list.left-padding {
    padding-left: 25px
}

@media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }
    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }
    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .thumb img {
    width: 70px;
    border-radius: 50%
}

.comments-area .date {
    font-size: 14px;
    color: #999999;
    margin-bottom: 0;
    margin-left: 20px
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #777777;
    font-size: 15px
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px
}

.comment-form .form-group {
    margin-bottom: 30px
}

.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px
}

.comment-form .name {
    padding-left: 0px
}

@media (max-width: 767px) {
    .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem
    }
}

.comment-form .email {
    padding-right: 0px
}

@media (max-width: 991px) {
    .comment-form .email {
        padding-left: 0px
    }
}

.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none
}

.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999999
}

.comment-form .form-control::placeholder {
    color: #777777
}

.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100% !important
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.link-more {
    display: none !important;
}

.slider-area2 {
    background-image: url(../img/hero/hero2.png);
    background-repeat: no-repeat;
    background-size: cover
}

.slider-area {
    background-image: url(../img/hero/homeHero_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.slider-area .hero__caption {
    overflow: hidden
}

.slider-area .hero__caption span {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    position: relative;
    display: inline-block;
    padding-left: 50px;
    line-height: 2.1;
    letter-spacing: 0.3em;
    position: relative
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption span {
        font-size: 18px;
        margin-bottom: 7px
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption span {
        font-size: 18px;
        margin-bottom: 7px
    }
    .slider-area2 .hero-cap h2 {
        font-size: 24px !important;
    }
}

.comment-form-comment {
    display: none !important;
}

.slider-area .hero__caption span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 36px;
    height: 45px;
    background-repeat: no-repeat
}

.slider-area .hero__caption h1 {
    font-size: 99px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #fff;
    font-family: "Playfair Display", serif;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative
}

.slider-area .hero__caption h1::before {
    content: "";
    position: absolute;
    right: 34px;
    top: -17px;
    width: 80px;
    height: 84px;
    background-repeat: no-repeat
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption h1::before {
        right: 0;
        top: -39px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption h1::before {
        right: -2px;
        top: -42px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption h1::before {
        display: none
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption h1::before {
        display: none
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption h1 {
        font-size: 50px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption h1 {
        font-size: 52px;
        line-height: 1.2;
        margin-bottom: 10px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption h1 {
        font-size: 47px;
        line-height: 1.4;
        margin-bottom: 8px
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption h1 {
        font-size: 33px;
        line-height: 1.4;
        margin-bottom: 8px
    }
}

.slider-area .hero__caption h1 strong {
    font-style: italic;
    font-size: 49px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    padding: 0 7px 0 4px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption h1 strong {
        font-size: 40px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption h1 strong {
        font-size: 25px
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption h1 strong {
        font-size: 20px
    }
}

.slider-area .hero__caption p {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 0.2em
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption p {
        font-size: 15px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption p {
        font-size: 15px
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption p {
        font-size: 13px
    }
}

.slider-area .hero__img img {
    max-width: 584px;
    max-height: 607px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__img img {
        max-width: 386px
    }
}

.hero-overly {
    position: relative;
    z-index: 0
}

.hero-overly::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-repeat: no-repeat
}

.slider-area2 .hero-cap {
    position: relative;
    z-index: 1
}

.slider-area2 .hero-cap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}


/* ********************************************* Responsive css Start ********************************************* */

@media(max-width:1199px) {
    .home_slider #home_main_slider .item .slider_content ul li {
        margin-right: 26px;
    }
    .header .menubar .main_menu_custom .navbar-nav li {
        margin-left: 20px;
    }
}

@media(max-width:991px) {
    .header .menubar .main_menu_custom {
        display: none;
        position: absolute;
        width: 100%;
        top: 99px;
        background: #fff;
        padding: 20px 20px;
    }
    .header .fixed .main_menu_custom {
        top: 63px;
    }
    .header .menubar .main_menu_custom::before,
    .header .menubar .main_menu_custom::after {
        position: absolute;
        background-color: #fff;
        content: "";
        width: 100%;
        top: 0;
        height: 100%;
        max-width: 992px;
    }
    .header .menubar .main_menu_custom::before {
        left: -180px;
    }
    .header .menubar .main_menu_custom::after {
        right: -180px;
    }
    .header .menubar .navbar .main_menu_custom .navbar-nav {
        width: 100%;
        display: block;
    }
    .header .menubar .main_menu_custom .navbar-nav li {
        display: block;
        margin-left: 0 !important;
        margin-bottom: 10px;
    }
    .header .menubar .navbar .buttonmenu {
        display: block;
    }
    .footer .footer_content .logo_menu ul li {
        margin-right: 10px;
        width: 30%;
        float: left;
    }
    .footer .footer_content .logo_menu span {
        float: left;
    }
    .footer .footer_content .logo_menu ul {
        float: left;
        width: 60%;
    }
    .footer .footer_content .logo_menu {
        float: left;
        margin-bottom: 5px;
    }
}

@media(max-width:767px) {
    .footer .footer_content .logo_menu span {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer .footer_content .logo_menu ul {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer {
        padding-bottom: 50px;
    }
}

@media(max-width:575px) {
    .header .menubar .navbar .navbar-brand {
        max-width: 230px;
    }
    .header .menubar .navbar .buttonmenu .sidebarIconToggle {
        top: 46px;
    }
    .header .topbar .top_content p {
        margin-bottom: 5px;
    }
    .header .topbar .top_social ul {
        float: none;
        text-align: center;
    }
    .footer .footer_content .logo_menu ul {
        text-align: left;
    }
    .footer .footer_content .logo_menu ul li {
        margin-right: 15px;
        width: 44%;
    }
    .footer .footer_content .footer_copyright span {
        float: none !important;
        text-align: center;
        display: block;
    }
    .footer .footer_content .footer_copyright .copyright {
        margin-bottom: 10px;
    }
    .header .menubar .main_menu_custom {
        top: 85px;
    }
    .header .fixed .main_menu_custom {
        top: 55px;
    }
}